div {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.posters {
    width: 100%;
    display:inline-flex;
    float: left;
}