body {
    background: url(./img/background.jpg) no-repeat, linear-gradient(#7d021e, #f54039);;
    background-size: cover;
}

button:focus { outline: none; }

menu {
    padding-top: 4%;
}

.center {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.posters {
width: 100%;
display:inline-flex;
float: left;
}

